.navbar {
    background-color: #FFF8EA;
}


#navbar-logo {
    max-width: 30%;
    max-height: 30%;
}

#information-input {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #62B6B7;
}

#information-input h1{
    font-family: sans-serif;
    font-weight: bolder;
}

#input-field {
    padding-top: 4%;
    width: 30%;
}

#leaderboard{
    background-color: #97DECE;
}

.leaderboard-list{
    padding-bottom: 3rem;
}


.leaderboard-btn{
    margin-top: 2rem;
    width: 12rem;
}

#second-place{
    padding-top: 6rem;
}

#third-place{
    padding-top: 6rem;
}

#pop-up-card{
    display: none;
}

.pop-up-player-card{
    margin-left: 7rem;

}


#carousel-container{
    background-color: #CBEDD5;

}
#carouselExampleDark{

    margin-left: auto;
    margin-right: auto;

    width: 50rem;
    padding-top: 3rem;
}

.carousel-player-card{
    margin: auto;
    margin-bottom: 7rem;
}

#carousel-img{
    height: 660px;
    width: 660px;

}

#favourite-img{
    size: 70%;
    margin-left: 150px;
    margin-top: 200px;
}

.number-img{
    width: 50%;
    margin-left: 5rem;
}